

 
.auto-style15 {
    width: 255px;
}

.auto-style16 {
    width: 255px;
    height: 61px;
    text-align: left;
}

.auto-style17 {
    width: 255px;
    height: 57px;
}

.auto-style18 {
    width: 144px;
    height: 107px;
}

.auto-style19 {
    width: 243px;
    height: 107px;
}

.auto-style20 {
    width: 255px;
    height: 107px;
    text-align: justify;
}

.auto-style21 {
    width: 144px;
    height: 41px;
}

.auto-style22 {
    width: 243px;
    height: 41px;
}

.auto-style23 {
    width: 255px;
    height: 41px;
}

.auto-style24 {
    width: 98%;
    height: 566px;
    padding-left: .75em;
    padding-right: .75em;
}

.auto-style25 {
    width: 700px;
}

.auto-style26 {
    width: 40px;
} 

 
 




.auto-style1 {
    width: 100%;
    height: 566px;
}

.auto-style2 {
    width: 528px;
}

.auto-style3 {
    width: 97%;
    height: 531px;
    margin-left: 74px;
}

.auto-style4 {
    width: 144px;
}

.auto-style5 {
    width: 243px;
}

.auto-style6 {
    width: 144px;
    height: 61px;
}

.auto-style7 {
    width: 243px;
    height: 61px;
}

.auto-style8 {
    height: 61px;
}

.auto-style9 {
    text-align: center;
    width: 243px;
    height: 84px;
}

.auto-style10 {
    width: 144px;
    height: 57px;
}

.auto-style11 {
    width: 243px;
    height: 57px;
}

.auto-style12 {
    height: 57px;
}

.auto-style13 {
    width: 144px;
    height: 84px;
}

.auto-style14 {
    height: 48px;
    text-align:center;
    font-size:4rem;
    font-weight:700;
}
#txtus {
    height: 50px;
    width: 70%;
}

#TextBox1 {
    height: 50px;
    width: 70%;
}
     
#TextBox2 {
   
    height: 50px;
    width: 70%;
     
}
#TextBox3 {
     
    height: 50px;
    width: 70%;
    
}
#TextBox4 {
 
    height: 50px;
    width: 70%;
     
}
#TextBox5 {
     
    height: 50px;
    width: 70%;
     
}
 
 